#search-input {
  width: 30rem;
  padding: 20px;
  background: #f9f7fe;
  border: none;
  border-radius: 5px;
}

.search-btn {
  background: #885ef1;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 20px;
}

h1 {
  font-size: 2rem;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 5px;
  max-width: 700px;
  margin: 50px auto;
}

.weather-container {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

header form {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  background: #f9f7fe;
}

footer {
  text-align: center;
  color: gray;
  font-size: 1rem;
  font-family: sans-serif;
}

.main-temp {
  font-size: 5rem;
  font-family: sans-serif;
  font-weight: 700;
  padding-top: 25px;
}

.date-container {
  position: relative;
  top: 70px;
  right: 190px;
  color: gray;
  font-weight: 100;
}

#little-celcius {
  font-size: 2rem;
  font-weight: 200;
}

.sunshine {
  font-size: 2.5rem;
}

.main-weather {
  color: #f65282;
  font-weight: 600;
}

a {
  color: #885ef1;
}

.forecast-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.forecast-container li {
  text-align: center;
  background: #f9f7fe;
  padding: 10px;
  border-radius: 5px;
  font-family: sans-serif;
}
